<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>randomizeNames.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>47FC8F381C32035200AA0443</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>47FC8F511C32035200AA0443</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>47FC8F5C1C32035200AA0443</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
